albums/**/*.css linguist-detectable=false
wpscripts/*.css linguist-detectable=false
albums/Biala-Podlaska-16-19-wiek-1/res/*.css linguist-detectable=false
/img/Biala-Podlaska-Album-2/*.css linguist-detectable=false
/img/Biala-Podlaska-Album-2/*.html linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false
/*.css linguist-detectable=false
/*.html linguist-detectable=false
