albums/**/*.css linguist-detectable=false
albums/**/*.html linguist-detectable=false
albums/**/*.js linguist-detectable=false
wpscripts/*.css linguist-detectable=false
albums/Biala-Podlaska-16-19-wiek-1/res/*.css linguist-detectable=false
/img/Biala-Podlaska-Album-2/*.css linguist-detectable=false
/img/Biala-Podlaska-Album-2/*.html linguist-detectable=false
img/Biala-Podlaska-Album-2/*.css linguist-detectable=false
img/Biala-Podlaska-Album-2/*.html linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false
/*.css linguist-detectable=false
/*.html linguist-detectable=false
/* linguist-vendored
/albums/*.css linguist-detectable=false
/albums/*.html linguist-detectable=false
/albums/Biala-Podlaska-16-19-wiek-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-16-19-wiek-2/*.html linguist-detectable=false
/albums/Biala-Podlaska-1900-1917-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-1900-1917-2/*.html linguist-detectable=false
/albums/Biala-Podlaska-1918-1938-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-1918-1938-2/*.html linguist-detectable=false
/albums/Biala-Podlaska-1918-1938-3/*.html linguist-detectable=false
/albums/Biala-Podlaska-1918-1938-4/*.html linguist-detectable=false
/albums/Biala-Podlaska-1918-1938-5/*.html linguist-detectable=false
/albums/Biala-Podlaska-1918-1938-6/*.html linguist-detectable=false
/albums/Biala-Podlaska-1918-1938-8/*.html linguist-detectable=false
/albums/Biala-Podlaska-1918-1938-Zydzi-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-1939-1945-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-1939-1945-Ercolani-Ernesto-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-1939-1945-Soviet-POW-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-1939-1945-Weht-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-1939-1945-Zydzi-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-1946-2000-Okolice-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-2001-2006-Project/*.html linguist-detectable=false
/albums/Biala-Podlaska-2002-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-2005-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-2012-Dworzec-PKP/*.html linguist-detectable=false
/albums/Biala-Podlaska-Wczoraj-i-dzis-1/*.html linguist-detectable=false
/albums/Biala-Podlaska-Wczoraj-i-dzis-2/*.html linguist-detectable=false
/albums/Brest-1939-1945-1/*.html linguist-detectable=false
/albums/Koden-1918-1938-1/*.html linguist-detectable=false
/albums/Miedzyrzec-Podlaski-1900-1917-1/*.html linguist-detectable=false
/albums/Miedzyrzec-Podlaski-dep-26051943/*.html linguist-detectable=false
/albums/PA-Adam-Kwapien-1/*.html linguist-detectable=false
/albums/PA-Adam-Kwapien-2/*.html linguist-detectable=false
/albums/PA-Agata-Winnicka/*.html linguist-detectable=false
/albums/PA-Jan-Staniszewski-3/*.html linguist-detectable=false
/albums/PA-Jerzy-Jarocki-1/*.html linguist-detectable=false
/albums/PA-Lukasz-Jufimiuk-1/*.html linguist-detectable=false
/albums/PA-Lukasz-Jufimiuk-5/*.html linguist-detectable=false
/albums/PA-Marcin-Izdebski/*.html linguist-detectable=false
/albums/PA-Piotr-Seczyk-1/*.html linguist-detectable=false
/albums/Parczew-1900-1917-1/*.html linguist-detectable=false
/albums/Terespol-1900-1917-1/*.html linguist-detectable=false
